body{
    font-family: sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}
    h1 {
        color: rgb(201, 67, 67);
        font-size: 45px;
        font-weight: 900;
}
*{
    margin-block-end: 0mm;
    background-color: rgb(57, 8, 231);
}

h3, ul, ol{
    color: chartreuse; 
}

ol, ul{
    list-style: none;
    text-align: center;
    align-items: baseline;
}

img{
    margin-top: 1cm;
    border-radius: 100px;
}

a{
    color: crimson;
}